# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [6]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df=pd.read_csv(url)

In [124]:
df.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [17]:
#1.Identify the dimensions of the dataset by determining the number of rows and columns it contains.
rows=df.shape[0]
col=df.shape[1]
print(f"This DataFrame contains {rows} numbers of rows and {col} numbers of columns")

The number of rows of this dataframe is 4008 and for coloumns 11

In [44]:
#2.Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types
print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

The columns Customer Lifetime Value and Number of Open Complaints should be numerical to analyze them better. We won't include them in this analysis because of this

In [46]:
#3.Identify the number of unique values for each column 

print("Number of unique values:")
print(df.nunique())

Number of unique values:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [161]:
#3.1 determine which columns appear to be categorical.
columns_cat=["ST","GENDER","Education","Number of Open Complaints","Policy Type","Vehicle Class"]
print("Categorical columns and nunique value of each are:")
for i in columns_cat:
    print(f"The nunique value for {i} is: {df[i].nunique()}")

Categorical columns are:
The nunique value for ST is: 8
The nunique value for GENDER is: 5
The nunique value for Education is: 6
The nunique value for Number of Open Complaints is: 6
The nunique value for Policy Type is: 3
The nunique value for Vehicle Class is: 6

In [153]:
df["GENDER"].value_counts()

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

There are 5 type of gender, wich is probably an error of input by the user.

In [68]:
#3.1 You should also describe the unique values of each categorical column 
for column in columns_cat:
    unique_values = df[column].unique()
    print(f"Unique values for {column}:")
    print(unique_values)

Unique values for ST:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values for GENDER:
[nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values for Education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values for Number of Open Complaints:
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values for Policy Type:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values for Vehicle Class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [126]:
#3.2 the range of values for numerical columns, and give your insights.
columns_num=["Income","Monthly Premium Auto","Total Claim Amount"]
print("Numerical columns are:")
for i in columns_num:
    print(i)

Numerical columns are:
Income
Monthly Premium Auto
Total Claim Amount

In [128]:
#3.2
print("The nunique value of each numerical columns is:")
for col in columns_num:
    print(f" {col}: {df[col].nunique()}")

The nunique value of each numerical columns is:
 Income: 774
 Monthly Premium Auto: 132
 Total Claim Amount: 761

In [134]:
range = (df['Monthly Premium Auto'].max()- df['Monthly Premium Auto'].min())
range

35293.0

In [136]:
range2 = (df['Total Claim Amount'].max()- df['Total Claim Amount'].min())
range2

2892.857571

In [138]:
range3 = (df['Income'].max()- df['Income'].min())
range3

99960.0

In [99]:
#4.Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency 
#and distribution of the data for numerical columns. You should also provide your conclusions based on these summary 
#statistics.
df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Conclusion:

-The average client income is $39,295, which is slightly higher than the median ($36,234), indicating a wide range of client incomes, with some earning as little as zero and others up to $99,960.
-There is also a significant difference in the monthly auto premium fee, with a mean of $193 and a median of $83, compared to a maximum premium fee of $35,354.
-The claim amount doesn't appear to be very relevant, as 75% of clients paid $533 or less, while the maximum claim was $2,893, suggesting that claims are relatively infrequent.

In [130]:
#5.Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
for column in columns_cat:
    frequency_counts = df[column].value_counts()
    print(frequency_counts)
    print()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [172]:
df[columns_cat].describe()

,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,954,1071,1071,1071,1071
unique,8,5,6,6,3,6
top,Oregon,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
freq,320,457,324,830,780,576

Conclusion:

-The majority of clients are women, accounting for 53%, while 47% are men.
-Most clients are from Oregon (30%), followed by California (20%). The least represented state is Arizona, with only 2% of clients.
-The client's education levels are predominantly bachelor's degrees (30%), followed by college (29%) and high school (28%).
-73% of clients use this insurance for their personal cars, with the most common type of car being a four-door vehicle.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [264]:
st_series=df['ST']
location=st_series[-5:]
#print(location)
print(f"The last 5 locations were not assigned, the location incated is: \n{location}")

The last 5 locations were not assigned, the location incated is:
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: ST, dtype: object

In [270]:
st_series.value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [282]:
#Create a pandas Series object that contains the policy types 
policy_series=df['Policy Type']
print(policy_series)

0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object

In [288]:
#their total number of policies sold
policy_series.value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [301]:
#retrieve the policy type with the highest number of policies sold
highest_policy=policy_series.value_counts().idxmax()
print("The highest number of policies sold is: ",highest_policy)

The highest number of policies sold is:  Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [395]:
#Use loc to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
personal_auto_income = df.loc[df['Policy Type'] == 'Personal Auto', 'Income']
corporate_auto_income = df.loc[df['Policy Type'] == 'Corporate Auto', 'Income']

In [397]:
average_personal_auto=round(personal_auto_income.mean())
print(average_personal_auto)
average_corporate_auto=round(corporate_auto_income.mean())
print(average_corporate_auto)

38181
41390

In [399]:
if average_personal_auto<average_corporate_auto:
    print(f"Clients with personal auto has lower average income than the corporate auto, it's average is: {average_personal_auto}, compare to corporate with {average_corporate_auto} of average")
else:
    print(f"Clients with personal auto has higher average income than the corporate auto, it's average is: {average_personal_auto}, compare to corporate with {average_corporate_auto} of average")

Clients with personal auto has lower average income than the corporate auto, it's average is: 38181, compare to corporate with 41390 of average

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
df['fQZ44356']

In [412]:
tca_customer=df[['Total Claim Amount','Customer']]
tca_customer

      Total Claim Amount Customer
0               2.704934  RB50392
1            1131.464935  QZ44356
2             566.472247  AI49188
3             529.881344  WW63253
4              17.269323  GA49547
...                  ...      ...
4003                 NaN      NaN
4004                 NaN      NaN
4005                 NaN      NaN
4006                 NaN      NaN
4007                 NaN      NaN

[4008 rows x 2 columns]

In [418]:
tca_customer[-5:]

      Total Claim Amount Customer
4003                 NaN      NaN
4004                 NaN      NaN
4005                 NaN      NaN
4006                 NaN      NaN
4007                 NaN      NaN

In [487]:
per75=df[df['Total Claim Amount']>df['Total Claim Amount'].quantile(0.75)]
print(f"The customer with high policy claims amounts are :\n {per75}")
print(f"The statistics of those customer are:\n {per75.describe()}")

The customer with high policy claims amounts are :
      Customer          ST GENDER Education Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2     AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17    OE15005        Cali    NaN   College              394524.16%  28855.0
23    TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26    US89481  California    NaN  Bachelor              394637.21%      0.0
...       ...         ...    ...       ...                     ...      ...
1059  YG44474      Oregon      M   College             1401472.13%  54193.0
1061  RY92647        Cali      F  Bachelor             1050677.17%      0.0
1068  GS98873     Arizona      F  Bachelor              323912.47%  16061.0
1069  CW49887  California      F    Master              462680.11%  79487.0
1070  MY31220  California      F   College              899704.02%  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]
The statistics of those customer are:
              Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678